p               { text-align:justify; }
*.title         { text-align:center; }
*.author        { text-align:center; }
*.address       { text-align:center; }
*.screen        { margin-left:4em; text-align:left; }
*.literallayout { margin-left:4em; text-align:left; }
